.form-control {
  height: 60px;
  text-indent: 10px;
  background-color: #fff;
  color: #637089;
  border: 2px solid #e9ebef;
  max-width: 100%;
  border-radius: 6px;
  transition: 0.5s ease;

  &:focus {
    background-color: #fff;
    color: #637089;
    border: 2px solid #bec1c6;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &::placeholder {
    color: #bcc0c5;
    font-size: 0.9rem;
  }

  &.search {
    height: 60px;
    text-indent: 30px;
    background: transparent;
    color: #8c97ac;
    border: 2px solid #e9ebef;
    max-width: 100%;
    border-radius: 10px;

    &:focus {
      background: transparent;
      color: #8c97ac;
      border: 2px solid #e9ebef;
    }

    &::placeholder {
      color: #cbd0da;
      font-size: 0.9rem;
    }
  }
}

select {
  &.form-control {
    text-indent: 35px;
    height: 60px;
    padding-left: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &:not(select) {
    border-radius: 0.25rem;
    padding: 1.5rem 0.5rem;
  }
}

textarea {
  &.form-control {
    resize: none;
  }
}

.wicon {
  position: relative;

  input {
    text-indent: 30px;
    color: #aeb0b0;
    border-radius: 10px;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      font-size: 0.9rem;
    }
  }

  .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab {
    position: absolute;
    top: 20px;
    color: #aeb0b0;

    &.right {
      right: 16px;
    }

    &.left {
      left: 16px;
    }
  }
}

.btn-label {
  position: relative;
  padding-left: 44px;

  .label-icon {
    position: absolute;
    width: 32px;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
